*{


	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


.main-pane {
	/*border: 2px solid red;*/
	/*margin-left: 10px;
	margin-right: 10px;
*/
	margin-top: 5%;
}

.navbar {
	background-color: #0B163A;
	color: #E8E9ED;
}


ul {
	color: #E8E9ED;
}

.page-footer {
	background-color: #0B163A;
	position: fixed;
	width: 100%;
	bottom: 0;
	color:  #E8E9ED;
}

.register {
	width: 80vw;
}

.img-gal {
	height: 30vh;
	width: 100%;

}
.card {
	margin: 5%;
	margin-bottom: 5%;
	border: 2px solid #0B163A;
}

.main {
	margin-top: 5%;
	margin-bottom: 5%;

}

.img-cart {
	width: 100%;
	/*height: 20px;*/
}

